.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom-lg {
    margin-bottom: 20px;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-top-lg {
    margin-top: 20px;
}

.main-title {
    font-size: 48px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive #map {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}